<?php
// このファイルを config.php にコピーして自分の情報を入力してください
return [
    'AWS_REGION'       => 'ap-northeast-1',
    'AWS_KEY'          => 'YOUR_ACCESS_KEY_HERE',
    'AWS_SECRET'       => 'YOUR_SECRET_KEY_HERE',
    'MINECRAFT_LT_ID'  => 'lt-xxxxxx',   // EC2 起動テンプレートID (Minecraft)
    'PALLWORLD_LT_ID'  => 'lt-yyyyyy',   // EC2 起動テンプレートID (Palworld)
    'SEVENDAYS_LT_ID'  => 'lt-zzzzzz',   // EC2 起動テンプレートID (7 Days to Die)
];
